@model Margille.Models.ProductOrder

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProductOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="ProductQtd" class="control-label"></label>
                <input asp-for="ProductQtd" class="form-control" />
                <span asp-validation-for="ProductQtd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderProductPrice" class="control-label"></label>
                <input asp-for="OrderProductPrice" class="form-control" />
                <span asp-validation-for="OrderProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
